*.xap
*.user
*.suo
*.docstates
obj/
.idea/
.vs/
packages/
_ReSharper*/
log/
Generated_Code/
/SourceBackup/
*.Cache
*.cash
Thumbs.db
*cache.dat
.cache-loader/

*.tmp
*.ide
*.obj
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
node/node_modules*/
node/build*/
*.lib
*.sbr
[Rr]elease*/
[Tt]est[Rr]esult*

mobilescoutWinCE.cab

AssemblyFileVersionInfo.cs
AssemblyGitVersion.cs
version.js


*.zip
*.7z
launchSettings.json
.vscode/launch.json
/.DS_Store


